<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Its Mr. Stick Figure </h1>
    <p>Lorem ipsum dolor amet drinking vinegar photo booth try-hard wolf mustache normcore mixtape mlkshk everyday carry tilde. Whatever blog chambray roof party plaid taxidermy activated charcoal YOLO craft beer poke. Vegan vape thundercats umami chicharrones cold-pressed. Marfa brooklyn tumblr shaman bicycle rights, man braid keytar street art literally drinking vinegar glossier.</p>

  </div>

</div>
